data:
    shape: [64, 128, 128]
    n_samples: 200
    modalities:
    - flair
    - seg
    binarize: true
    npy_path: ./data/brats_preprocessed.npy
    root_path: ../common_data/RSNA_ASNR_MICCAI_BraTS2021_TrainingData_16July2021
    batch_size: 4
    shuffle: true
    num_workers: 8
autoencoder:
    input_shape: [2, 128, 128] # channels, height, width
    z_channels: 2
    pemb_dim: 128
    T: 64
    num_channels: 128
    channels_mult:
    - 1
    - 2
    - 4
    - 4
    num_res_blocks: 2
    attn: [false, false, false, true]
    n_lf: 3
    eps_lf: 0.001
    beta_zero: 0.3
    lr: 0.00001
    weight_decay: 0.000001
    lr_d_factor: 1
    precision: 32
    loss:
        disc_start: 10001
        pixel_weight: 0.01
        perceptual_weight: 1.0
        disc_weight: 0.5
        disc_input_channels: 2
        disc_channels: 64
        disc_num_layers: 3
        disc_factor: 1.0
        logvar_init: 0.0
        kl_weight: 0.0000001
callbacks:
    checkpoint:
        monitor: 
        dirpath: ./checkpoints
        save_top_k: 1
        every_n_epochs: 50